<div class="error404-area pt-30 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-wrapper text-center ptb-50 pt-xs-20">
                    <div class="error-text">
                        <h1>404</h1>
                        <h2>ĐÃ CÓ LỖI XẢY RA</h2>
                        <p>TRANG MÀ BẠN ĐANG TÌM KIẾM KHÔNG TỒN TẠI<br> XIN HÃY QUAY LẠI TRANG CHỦ.</p>
                    </div>
                    <div class="error-button">
                        <a href="/">Back to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
