<div class="form-element -area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Thay đổi mật khẩu</h2>
                    </div>
                    <form [formGroup]="passwordForm">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input 
                                            formControlName="oldPassword"
                                            type="password" 
                                            class="form-control" 
                                            placeholder="Mật khẩu cũ..."
                                            [ngClass]="{'is-invalid': passwordForm.get('oldPassword').touched && passwordForm.get('oldPassword').invalid }"
                                        >
                                        <div *ngIf="passwordForm.get('oldPassword').touched && passwordForm.get('oldPassword').invalid" class="invalid-feedback">
                                            <div *ngIf="passwordForm.get('oldPassword').errors.required"> Mật khẩu cũ bị bỏ trống</div>
                                            <div *ngIf="passwordForm.get('oldPassword').errors.minlength"> Tối thiểu 8 kí tự </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input 
                                            formControlName="newPassword" 
                                            type="password" 
                                            class="form-control" 
                                            placeholder="Mật khẩu mới..."
                                            [ngClass]="{'is-invalid': passwordForm.get('newPassword').touched && passwordForm.get('newPassword').invalid }"
                                        >
                                        <div *ngIf="passwordForm.get('newPassword').touched && passwordForm.get('newPassword').invalid" class="invalid-feedback">
                                            <div *ngIf="passwordForm.get('newPassword').errors.required"> Mật khẩu mới bị bỏ trống</div>
                                            <div *ngIf="passwordForm.get('newPassword').errors.minlength"> Tối thiểu 8 kí tự </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input 
                                            formControlName="confirmPassword" 
                                            type="password" 
                                            class="form-control" 
                                            placeholder="Xác nhận mật khẩu mới..."
                                            [ngClass]="{'is-invalid': passwordForm.get('confirmPassword').touched && passwordForm.get('confirmPassword').invalid }"
                                        >
                                        <div *ngIf="passwordForm.get('confirmPassword').touched && passwordForm.get('confirmPassword').invalid" class="invalid-feedback">
                                            <div *ngIf="passwordForm.get('confirmPassword').errors.required"> Xác nhận mật khẩu bị bỏ trống</div>
                                            <div *ngIf="passwordForm.get('confirmPassword').errors.minlength"> Tối thiểu 8 kí tự </div>
                                            <div *ngIf="passwordForm.get('confirmPassword').errors.mustMatch"> Hai mật khẩu phải giống nhau </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="basic-tb-hd">
                        <button (click)="passwordChangeSubmit(passwordForm.value)" [disabled]="!passwordForm.valid" class="btn btn-success notika-btn-success">Lưu</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Thay đổi thông tin cá nhân</h2>
                    </div>
                    <form [formGroup]="profileForm">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input formControlName="fullName" type="text" class="form-control" placeholder="Họ và tên nhân viên...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <select formControlName="gender" class="form-select form-control">
                                            <option value="true">Nam</option>
                                            <option value="false">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input formControlName="email" type="text" class="form-control" placeholder="Email...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Số điện thoại...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input formControlName="birthDay" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input formControlName="address" type="text" class="form-control" placeholder="Địa chỉ liên hệ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="basic-tb-hd">
                            <button (click)="profileSubmit(profileForm.value)" [disabled]="!profileForm.valid" class="btn btn-success notika-btn-success">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
    </div>
</div>