<div class="modal animated fadeInDown" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="orderDetails">Mã Đơn hàng: {{ currentId }} | Tổng tiền: {{ orderDetails.amount | currency: 'VND': '': '1.0-1' }}</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="overflow-y: auto; max-height: 400px;" *ngIf="orderDetails">
                <div style="overflow-x: auto;" class="bsc-tbl-hvr">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Đơn vị tính</th>
                                <th>Đơn giá</th>
                                <th>Số lượng mua</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="orders">
                            <tr *ngFor="let detail of orderDetails.orderDetails">
                                <td>{{ detail.product.productId }}</td>
                                <td><img height="225" width="225" src="https://drive.google.com/uc?export=view&id={{ detail.product.images }}" /></td>
                                <td>{{ detail.product.productName }}</td>
                                <td>{{ detail.product.unit }}</td>
                                <td>{{ detail.product.price | currency: 'VND': '': '1.0-1' }}</td>
                                <td>{{ detail.quantity }}</td>
                                <td>{{ detail.product.price * detail.quantity | currency: 'VND': '': '1.0-1' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Dữ liệu bảng</h2>
                                    <p>Quản lý <span class="bread-ntd">Đơn hàng</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="In Báo Cáo" class="btn"><i class="notika-icon notika-down-arrow"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<div class="normal-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="normal-table-list mg-t-30">
                    <div class="basic-tb-hd">
                        <h2>Trạng thái đơn hàng:</h2>
                        <p>1: Đã huỷ | 2: Chờ xác nhận | 3: Đã xác nhận | 4: Đã giao hàng</p>
                    </div> 
                    <div style="overflow-x: auto;" class="bsc-tbl-hvr">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Ngày đặt</th>
                                    <th>Địa chỉ giao</th>
                                    <th>Tổng tiền</th>
                                    <th>Mã khách hàng</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="orders">
                                <tr 
                                    *ngFor="let order of orders" 
                                    
                                    [ngClass]="getClassName(order.orderStatus[order.orderStatus.length - 1].statusId)"
                                >
                                    <td>{{ order.orderId }}</td>
                                    <td>{{ order.orderDate | date:'dd-MM-yyyy' }}</td>
                                    <td>{{ order.address }}</td>
                                    <td>{{ order.amount | currency: 'VND': '': '1.0-1' }}đ</td>
                                    <td>{{ order.customerId }}</td>
                                    <td>{{ order.orderStatus[order.orderStatus.length - 1].statusId }}
                                    </td>
                                    <td>
                                        <button (click)="openModal(order.orderId)" class="btn btn-info">Xem chi tiết</button>  
                                    </td>
                                    <td>
                                        <button [disabled]="order.orderStatus[order.orderStatus.length - 1].statusId != 2" (click)="cancleOrder(order.orderId)" class="btn btn-danger">Huỷ đơn</button>
                                    </td>
                                    <td>
                                        <button [disabled]="order.orderStatus[order.orderStatus.length - 1].statusId != 2 || order.orderStatus[order.orderStatus.length - 1].statusId != 4" (click)="confirmOrder(order.orderId)" class="btn btn-success">Xác nhận đơn</button>
                                    </td>
                                    <td>
                                        <button [disabled]="order.orderStatus[order.orderStatus.length - 1].statusId != 3" (click)="deliveredOrder(order.orderId)" class="btn btn-success">Đã giao</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>