<app-header></app-header>
<router-outlet ></router-outlet>
<app-footer></app-footer>


<!-- jquery ============================================ -->
<script src="../../../assets/admin/js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS ============================================ -->
<script src="../../../assets/admin/js/bootstrap.min.js"></script>
<!-- wow JS ============================================ -->
<script src="../../../assets/admin/js/wow.min.js"></script>
<!-- scrollUp JS ============================================ -->
<script src="../../../assets/admin/js/jquery.scrollUp.min.js"></script>
<!-- meanmenu JS ============================================ -->
<script src="../../../assets/admin/js/js/meanmenu/jquery.meanmenu.js"></script>
<!-- counterup JS ============================================ -->
<script src="../../../assets/admin/js/counterup/jquery.counterup.min.js"></script>
<script src="../../../assets/admin/js/counterup/waypoints.min.js"></script>
<script src="../../../assets/admin/js/counterup/counterup-active.js"></script>
<!-- jvectormap JS ============================================ -->
<script src="../../../assets/admin/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="../../../assets/admin/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="../../../assets/admin/js/jvectormap/jvectormap-active.js"></script>
<!-- sparkline JS ============================================ -->
<script src="../../../assets/admin/js/sparkline/jquery.sparkline.min.js"></script>
<script src="../../../assets/admin/js/sparkline/sparkline-active.js"></script>
<!-- flot JS ============================================ -->
<script src="../../../assets/admin/js/flot/jquery.flot.js"></script>
<script src="../../../assets/admin/js/flot/jquery.flot.resize.js"></script>
<script src="../../../assets/admin/js/flot/jquery.flot.pie.js"></script>
<script src="../../../assets/admin/js/flot/jquery.flot.tooltip.min.js"></script>
<script src="../../../assets/admin/js/flot/jquery.flot.orderBars.js"></script>
<script src="../../../assets/admin/js/flot/curvedLines.js"></script>
<script src="../../../assets/admin/js/flot/flot-active.js"></script>
<!-- knob JS ============================================ -->
<script src="../../../assets/admin/js/knob/jquery.knob.js"></script>
<script src="../../../assets/admin/js/knob/jquery.appear.js"></script>
<script src="../../../assets/admin/js/knob/knob-active.js"></script>
<!--  wave JS ============================================ -->
<script src="../../../assets/admin/js/wave/waves.min.js"></script>
<script src="../../../assets/admin/js/wave/wave-active.js"></script>
<!--  todo JS ============================================ -->
<script src="../../../assets/admin/js/todo/jquery.todo.js"></script>
<!-- plugins JS ============================================ -->
<script src="../../../assets/admin/js/plugins.js"></script>
<!-- main JS ============================================ -->
<script src="../../../assets/admin/js/main.js"></script>
<!-- tawk chat JS ============================================ -->
<script src="../../../assets/admin/js/tawk-chat.js"></script>