<header>
    <!-- Begin Header Top Area -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Begin Header Top Left Area -->
                <div class="col-lg-3 col-md-4">
                    <div class="header-top-left">
                        <ul class="phone-wrap">
                            <li><span>Số điện thoại:</span><a href="#">(+84)902777586</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Top Left Area End Here -->
                <!-- Begin Header Top Right Area -->
                <div class="col-lg-9 col-md-8">
                    <div class="header-top-right">
                        <ul class="ht-menu">
                            <!-- Begin Setting Area -->
                            <li>
                                <div *ngIf="!name"><a href="login">Đăng Nhập</a></div>
                                <div *ngIf="name"><a href="Profile"> Khách hàng: {{ name }}</a></div>
                            </li>
                            <li *ngIf="name">
                                <div><a (click)="logOut()" style="cursor: pointer;"  href="">Đăng xuất</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Header Top Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Top Area End Here -->
    <!-- Begin Header Middle Area -->
    <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
        <div class="container">
            <div class="row">
                <!-- Begin Header Logo Area -->
                <div class="col-lg-3">
                    <div class="logo pb-sm-30 pb-xs-30">
                        <a href="/">
                            <img src="assets/images/menu/logo/1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header Logo Area End Here -->
                <!-- Begin Header Middle Right Area -->
                <div class="col-lg-9 pl-0 ml-sm-12 ml-xs-12">
                    <!-- Begin Header Middle Searchbox Area -->
                    
                    <form #searchForm="ngForm" class="hm-searchbox">
                        <select (change)="change($event.target.value)" name="type" class="nice-select select-search-category">
                            <option value="all">Tất cả</option>                         
                            <option value="product">Theo tên</option>                     
                            <option value="cate">Theo loại</option>                    
                        </select>

                        <input 
                            [(ngModel)]="keyword" 
                            name="searchbox" 
                            type="text" 
                            placeholder="Từ khoá tìm kiếm ..."
                            #searchbox="ngModel"
                            maxlength="40"
                        >
                        <button class="li-btn" type="submit"  (click)="onSubmit()"><i class="fa fa-search"></i></button>
                    </form>

                </div>
                <!-- Header Middle Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Middle Area End Here -->
    <!-- Begin Header Bottom Area -->
    <div class="header-bottom mb-0 header-sticky stick d-none d-lg-block d-xl-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin Header Bottom Menu Area -->
                    <div class="hb-menu">
                        <nav>
                            <ul>
                                <li class="catmenu-dropdown megamenu-holder" *ngIf="name"><a href="Profile">{{ name }}</a>
                                    <ul class="megamenu hb-megamenu">
                                        <li><a style="cursor: pointer;">Thông tin</a>
                                            <ul>
                                                <li><a href="Profile">Thông tin cá nhân</a></li>
                                                <li><a href="History">Lịch sử giao dịch</a></li>
                                                <li><a href="Cart">Giỏ Hàng</a></li>
                                                <li><a href="#" (click)="logOut()">Đăng xuất</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Bottom Menu Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom Area End Here -->
    <!-- Begin Mobile Menu Area -->
    <div class="mobile-menu-area d-lg-none d-xl-none col-12">
        <div class="container"> 
            <div class="row">
                <div class="mobile-menu">
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End Here -->
</header>